<h1>On Hand Inventory Data Import</h1>
<div class="col-md-6">
	<%= form_tag on_hand_import_inventories_path, multipart: true do %>	  
	  <%=label_tag "Extract Date"%><br />
    <div class="input-group date col-md-4" data-provide="datepicker">
		  <%= text_field_tag "extract_date", nil ,:class=>"form-control"%>
		  <div class="input-group-addon">
		    <span class="glyphicon glyphicon-th"></span>
		  </div>
		</div>
		<br/>
		<div class="col-md-6">
	  <%= file_field_tag :file %>
	  </div>
	  <div class="col-md-6">
	  	<%= submit_tag "Import" %>
	 	</div>
	<% end %>
</div>
<div class="clearfix"></div>
<table class="table table-bordered top-50">
	<thead>
		<tr>
			<th>Item Number</th>
			<th>Org Number</th>
			<th>Quantity</th>
			<th>Status</th>
			<th>Lot</th>
			<th>Last Ship Date</th>
			<th>Extract Date</th>
		</tr>
	</thead>
	<tbody>
	<% @inventories.each_with_index do |inventory,index|%>
		<tr>
			<td><%= index+1 %></td>
			<td><%= inventory.org_number %></td>
			<td><%= inventory.quantity %></td>
			<td><%= inventory.status %></td>
			<td><%= inventory.lot %></td>
			<td><%= inventory.ship_date.strftime("%d %b, %Y") %></td>
			<td><%= inventory.extract_date.strftime("%d %b, %Y") if inventory.extract_date.present? %></td>
		</tr>
	<% end %>
	</tbody>
</table>

<script type="text/javascript">
	$(document).ready(function(){
    $('.datepicker').datepicker({
    });
  });
</script>
